@import url("meyer_reset2.css");


/*
==============
General Styles
==============
*/
body {
  font: lighter 16px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.31em;
}

h2 {
  font-size: 1.125em;
}


/*
==========
Navigation
==========
*/
nav {
  background: #464f77;
  float: left;
  height: 100vh;
  padding: 75px 0 75px 0;
  width: 28%;
}

h2 {
  color: #fff;
  display: inline-block;
  padding-right: 120px;
}

h2:first-of-type:before {
  content: url("list_icon.png");
  padding-right: 10px;
  vertical-align: -5px;
}

h2:nth-of-type(2):before {
  content: url("checked_box.png");
  padding-right: 10px;
  vertical-align: -5px;
}

nav p + ul {
  padding: 10px 0 60px 0;
}

nav p,
nav dd {
  background: #6b7292;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.875em;
  opacity: .8;
  padding: 2px 6px 2px 4px;
}

nav dl {
  padding: 10px 0 10px 135px;
}

nav dt {
  color: #b3b3b3;
  display: inline-block;
  padding-right: 160px;
}

nav dd {
  padding: 2px 6px;
}

.active {
  background: rgba(0, 0, 0, 0.2);
}

.active dt {
  color: #fff;
}

.active dd {
  background: #148fd5;
}

.indent {
  padding-left: 100px;
}

#completed_tasks {
  padding-top: 25px;
}

#completed_tasks li  {
  color: #b3b3b3;
  padding: 0 0 20px 135px;
  text-decoration: line-through;
}


/*
====
Main
====
*/
main {
  float: right;
  height: 100vh;
  padding: 75px 10px;
  width: 72%;
}

main h1,
main p {
  display: inline-block;
}

main h1 {
  padding: 0 15px 40px 35px;
}

main p {
  background: #148fd5;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.875em;
  opacity: .8;
  padding: 2px 6px;
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  display: none;
}

#new_task {
  color: #148fd5;
  cursor: pointer;
  padding: 0 0 0 35px;
}

#new_task:before {
  content: url("plus_icon.png");
  padding-right: 10px;
}

main ul {
  padding: 15px 0 0 20px;
}

#current_tasks label {
  cursor: pointer;
}

#current_tasks li {
  border-top: 1px solid #e7e7e7;
  margin-right: 100px;
  padding: 15px 0 15px 15px;
}

#current_tasks li:after {
  content: url("trash_icon.png");
  padding-left: 788px;
}

.unchecked:before {
  content: url("checkbox.png");
  cursor: pointer;
  padding-right: 10px;
}

.checked {
  color: #b3b3b3;
  text-decoration: line-through;
}

.checked:before {
  content: url("sm_checked_box.png");
  cursor: pointer;
  padding-right: 10px;
}
