@import url("meyer_reset2.css");


/*
==============
General Styles
==============
*/
body {
  font: normal 16px/1.4 "Open Sans", Helvetica, sans-serif;
}

h1 {
  color: #00B7B7;
  font-size: 2.125em;
}

h2 {
  font-size: 1.4375em;
}

a {
  color: #1010DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*
======
Header
======
*/
header {
  background: #000;
  color: #ccc;
}

header img {
  background: #00B7B7;
  padding: 8px 1026px 11px 285px;
}

header h1 {
  display: inline-block;
  padding: 15px 0 0 285px;
  vertical-align: middle;
}

header p {
  display: inline-block;
  font-size: 0.92em;
  font-weight: lighter;
  letter-spacing: 1.2px;
  padding-top: 4px;
  padding-left: 54px;
  text-transform: uppercase;
  vertical-align: middle;
}

header p::first-line {
  color: #00B7B7;
  font-weight: normal;
}

header nav {
  padding: 24px 0 8px 265px;
}

header li {
  display: inline-block;
}

header li a {
  border-right: 0.5px solid #8C8C8C;
  color: #ddd;
  font-weight: lighter;
  padding: 0 20px;
}

header li a:hover {
  background: #00B7B7;
  text-decoration: none;
}

header li:last-of-type a {
  border-right: none;
}
