@import url("meyer_reset2.css");


/*
==============
General Styles
==============
*/
body {
  font: normal 16px/1.4 "Open Sans", Helvetica, sans-serif;
}

h1 {
  color: #00B7B7;
  font-size: 2.125em;
}

h2 {
  font-size: 1.4375em;
}

a {
  color: #1010DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*
======
Header
======
*/
header {
  background: #000;
  color: #ccc;
}

.logo_head {
  background: #00B7B7;
  width: 100%;
}

.row {
  margin: 0 auto;
  max-width: 870px;
  width: 100%;
}

.logo_head img {
  padding: 8px 0 6px 0;
}

.main_head {
  padding: 20px 0;
}

#fluent_logo {
  float: left;
}

#event_description {
  float: left;
  font-size: 0.9em;
  font-weight: lighter;
  letter-spacing: 1.35px;
  padding-left: 58px;
  text-transform: uppercase;
}

#event_description::first-line {
  color: #00B7B7;
  font-weight: bold;
}

nav {
  width: 100%;
}

.head_nav li {
  border-right: 0.5px solid #8c8c8c;
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 0.175px;
  margin: 23px 0 8px 0;
}

.head_nav li:last-of-type {
  border-right: none;
}

.head_nav a {
  color: #ddd;
  padding: 0 20px;
}

.head_nav a:hover {
  background: #00b7b7;
  text-decoration: none;
}

.head_nav li:first-of-type a {
  margin-left: -20px;
}

nav ul:before,
nav ul:after {
  clear: both;
  content: "";
  display: block;
}

main header{
  background: none;
  color: #000;
}

.social_icons a {
  color: #fff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 0.625em;
  letter-spacing: 0.5px;
}

.btn p {
  display: inline-block;
  vertical-align: middle;
}

.btn:hover {
  -webkit-filter: brightness(85%);
}

.twitter_btn,
.like_btn {
  border-radius: 3px;
}

.twitter_btn {
  background: #1B95E0;
  padding: 1px 7px 3px 7px;
}

.like_btn {
  background: #4267B2;
  padding: 1px 7px 2px 3px;
}

.tweet_icon,
.like_icon {
  argin-right: 2px;
  vertical-align: middle;
}

.tweet_icon {
  height: 12px;
  width: 12px;
}

.like_icon {
  height: 16px;
  width: 16px;
}

#web_awards {
  float: right;
  height: 167px;
  margin: 10px;
  width: 250px;
}
