@import url("meyer_reset2.css");


/*
==============
General Styles
==============
*/
body {
  font: lighter 16px Helvetica, Arial, sans-serif;
}

h1 {
  letter-spacing: 2px;
  font-size: 1.31em;
}

h2 {
  font-size: 1.125em;
}

label {
  cursor: pointer;
}

label img {
  display: none;
}

a {
  color: #148fd5;
  text-decoration: none;
}


/*
===========
Nav Article
===========
*/
nav {
  background: #464f77;
  float: left;
  height: 100vh;
  padding: 75px 0 20px 0;
  width: 403px;
}

h2 {
  color: #fff;
  display: inline-block;
}

.all_tasks_head {
  padding-right: 120px;
}

.all_tasks_head:before {
  content: url("images/list_icon.png");
  padding-right: 10px;
  vertical-align: -5px;
}

.completed_tasks_head:before {
  content: url("images/checked_box.png");
  padding-right: 10px;
  vertical-align: -5px;
}

nav p + ul {
  padding: 10px 0 60px 0;
}

nav p,
nav dd {
  background: #6b7292;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.875em;
  opacity: .8;
  padding: 6px 7px 6px 6px;
}

nav dl {
  cursor: pointer;
  padding: 10px 0 10px 135px;
}

nav dl:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav dd {
  padding: 2px 6px;
}

nav dt {
  color: #b3b3b3;
  display: inline-block;
  padding-right: 163px;
}

.active {
  background: rgba(0, 0, 0, 0.2);
}

.active dt {
  color: #fff;
}

nav .active dd {
  background: #148fd5;
}

.indent {
  padding-left: 100px;
}

article:nth-of-type(2) ul {
  padding-top: 25px;
}

article:nth-of-type(2) li  {
  color: #b3b3b3;
  padding: 0 0 20px 135px;
  text-decoration: line-through;
}


/*
============
Main Article
============
*/
main {
  height: 100vh;
  margin-left: 403px;
  padding: 75px 15px;
}

main h1,
main p {
  display: inline-block;
}

main h1 {
  padding: 0 15px 35px 35px;
}

main p {
  background: #148fd5;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.875em;
  opacity: .8;
  padding: 2px 6px;
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  display: none;
}

#new_task {
  display: inline-block;
  padding: 0 0 0 35px;
}

#new_task:before {
  content: url("images/plus_icon.png");
  padding-right: 10px;
}

main ul {
  margin-right: 9.7%;
  padding: 15px 0 0 15px;
}

#current_tasks li {
  border-top: 1px solid #e7e7e7;
  padding: 16px 0 16px 20px;
}

#current_tasks li:after {
  content: url("images/trash_icon.png");
  cursor: pointer;
  float: right;
}

#current_tasks label:hover {
  color: #148fd5;
}

.unchecked:before {
  content: url("images/checkbox.png");
  padding-right: 10px;
}

.checked {
  color: #b3b3b3;
  text-decoration: line-through;
}

.checked:hover {
  color: #148fd5;
}

.checked:before {
  content: url("images/sm_checked_box.png");
  padding-right: 10px;
}

/*
==========
Form Modal
==========
*/
.checkbox_hack {
  display: none;
}

form {
  background: #fff;
  font-weight: normal;
  position: absolute;
    top: 110px;
    left: 36.5%;
  z-index: 2;
}

.checkbox_hack:before {
  background: rgba(0, 0, 0, .4);
  content: "";
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:  0;
  z-index: 1;
}

fieldset {
  height: 420px;
  padding: 35px 20px 0 30px;
  max-width: 600px;
}

form dt,
form dd {
  display: inline-block;
}

form dl {
  width: 550px;
}

form dt {
  width: 20%;
}

form dd {
  padding: 0 0 25px 0;
  width: 75%;
}

form input,
form textarea {
  font-size: 16px;
}

form label {
  width: 100%;
}

form input {
  padding: 10px;
  width: 100%;
}

form dl:nth-of-type(2) dd {
  width: 23.4%;
}

form textarea {
  border: 1px solid #b3b3b3;
  height: 145px;
  padding: 10px;
  resize: none;
  vertical-align: text-top;
  width: 100%;
}

form input[type="submit"] {
  background: #148fd5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  width: 180px;
}


/*
=============
Media Queries
=============
*/
@media(max-width: 965px){
  form {
    left: 20%;
  }
}
@media(max-width: 768px){
  form {
    left: 12%;
  }
  label img {
    display: inline-block;
    position: relative;
      top: 25px;
      left: 52px;
  }
  nav {
    padding-top: 75px;
    position: absolute;
      left: -403px;
  }
  main {
    margin-left: 0;
    padding-top: 53px;
  }
  #nav_toggle:checked ~ nav {
    display: inline-block;
    position: absolute;
      left: 0;
  }
  #nav_toggle:checked ~ main {
    margin-left: 403px;
  }
  #nav_toggle:checked ~ label img {
    position: relative;
      top: 25px;
      left: 455px;
  }
}

@media(max-width: 700px){
  form {
    left: 18%;
  }
  fieldset {
    padding: 25px 0 0 20px;
    width: 400px;
  }
  form dl {
    width: 400px;
  }
  form dt,
  form dd {
    display: block;
  }
  form dl:nth-of-type(2) dd {
    display: inline-block;
    width: 27.8%;
  }
  form dd {
    padding: 0 0 18px 0;
    width: 90%;
  }
  form input[type="submit"] {
    margin: 0;
    width: 177px;
  }
}

@media(max-width: 600px){
  form {
    left: 12%;
  }
  nav {
    width: 303px;
  }
  .all_tasks_head {
    padding-right: 20px;
  }
  nav dt {
    padding-right: 63px;
  }
  #nav_toggle:checked ~ main {
    margin-left: 303px;
  }
  #nav_toggle:checked ~ label img {
    position: relative;
      top: 25px;
      left: 355px;
  }
}

@media(max-width: 500px){
  form {
    left: 9%;
  }
  nav {
    width: 203px;
  }
  .indent {
    padding-left: 25px;
  }
  nav dl {
    padding: 10px 0 10px 60px;
  }
  article:nth-of-type(2) li {
    padding: 0 0 20px 60px;
  }
  #nav_toggle:checked ~ main {
    margin-left: 203px;
  }
  #nav_toggle:checked ~ label img {
    position: relative;
      top: 25px;
      left: 255px;
  }
}

@media(max-width: 450px){
  form {
    left: 5%;
  }
}

@media(max-width: 430px){
  form {
    left: 3%;
  }
}

@media(max-width: 400px) {
  form {
    left: 0;
  }
  fieldset {
    padding: 20px 0 0 12px;
    width: 400px;
  }
  form dl {
    width: 390px;
  }
  form dd {
    width: 95%;
  }
  form dl:nth-of-type(2) dd {
    display: inline-block;
    width: 29.4%;
  }
  form input[type="submit"] {
    width: 183px;
  }
  nav {
    width: 180px;
  }
  .all_tasks_head {
    padding-right: 10px;
  }
  .indent {
    padding-left: 15px;
  }
  nav dl {
    padding: 10px 0 10px 50px;
  }
  nav dt {
    padding-right: 52px;
  }
  article:nth-of-type(2) li {
    padding: 0 0 20px 50px;
  }
  #nav_toggle:checked ~ main {
    margin-left: 165px;
  }
  #nav_toggle:checked ~ label img {
    position: relative;
      top: 25px;
      left: 217px;
  }
  #nav_toggle:checked ~ main ul {
    margin-right: 0;
  }
}
